.signup-main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.signup-col {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.signup-form {
  width: 45%;
  position: relative;
  left: 5%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.signup-col-3 {
  position: relative;
  top: 20vh;
  right: 10vw;
}

.signup-col-1 {
  width: 100%;
  top: -7vh;
  position: relative;
  left: 10%;
}

.signup-avatar {
  position: relative;
  top: 30%;
  height: 50% !important;
  width: 40% !important;
}

.signup-col-2 {
  position: relative;
  width: 100%;
}

.hospitals-text {
  color: #39603d;
  width: 100%;
  position: relative;
  right: 20%;
  top: 10%;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Architects Daughter", cursive;
}

.signup-button {
  display: flex;
  justify-content: center;
  position: relative;
  top: -5vh;
  right: 18vw;
}

.signup-error {
  color: red;
  font-size: small;
}

.signup-input {
  position: absolute;
  top: 90%;
}
