.homepage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-body {
    display: contents;
}

.footer {
    align-self: flex-end;
    display: flex;
    background-color: black;
    flex-direction: column;
    padding: 1vw;
    width: 100%;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 55vw;
    color: whitesmoke;
}
