#homepage {
  background-image: url("../../assets/images/healthcare.png");
  background-size: cover;
  height: 100vh;

  .heading {
    color: #3c403d;
    font-size: 4rem;
    font-weight: 900;
    font-family: "Architects Daughter", cursive;
    position: absolute;
    left: 5%;
    top: 40%;
  }

  .text {
    position: absolute;
    top: 49%;
    left: 5%;
    color: #39603d;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Architects Daughter", cursive;
  }
}
