#appointment-main {
  display: flex;
  flex-direction: column;
  border: 2px solid #3c403d;
  width: 38%;
  position: absolute;
  background-color: whitesmoke;
  padding: 2%;

  .heading {
    display: flex;
    flex-grow: 1;
    font-family: "Architects Daughter", cursive;
    justify-content: center;
    font-weight: 900;
    font-size: 2.2rem;
    color: #3c403d;
  }

  #appointment-form {
    display: flex;
    gap: 7vw;
    position: relative;
    top: 4vh;
    flex-direction: row;

    .width {
      width: 15vw !important;
    }

    .color {
      color: #39603d;
    }

    .form-col-1 {
      display: flex;
      gap: 3vh;
      flex-direction: column;
    }

    .form-col-2 {
      display: flex;
      flex-direction: column;
      gap: 4vh;
    }
  }

  .book-button {
    align-self: center;
    font-family: "Architects Daughter", cursive;
    font-weight: 800;
    font-size: 1.2rem;
    position: relative;
    margin-top: 10vh;
    background-color: #3c403d;
  }

  .notes {
    position: relative;
    top: 6vh;
    width: 100%;
  }
}
