.appointment-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
    gap: 2vw;

    h2 {
        display: flex;
        justify-content: center;
    }
}

.appointment-card1-header {
    background-color: black;
    color: whitesmoke;
    width: 30vw;
}

.appointment-card2-header {
    background-color: black;
    color: whitesmoke;
    width: 30vw;
    height: 16.5%;
}

.appointment-card1-body {
    margin-top: 7%;
    margin-bottom: 7%;
}

.appointment-card2-h2 {
    padding-top: 5%;
}

.appointment-footer {
    display: flex;
    justify-content: center;
}
