#doctor-main {
  display: flex;
  height: 100vh;
  flex-direction: row;
  background-color: #a3bcb6;
  background-image: url('../../assets/images/abcd.jpg');

  #main-area {
    display: flex;
    flex-direction: column;
    width: 80%;

    #home-button {
      display: flex;
      flex-direction: row;
      .header {
        font-weight: bold;
        font-family: "Architects Daughter", cursive;
        font-size: 4.5vh;
        color: #3c403d;
      }

      .home {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }
    }

    #row-1 {
      display: flex;
      flex-direction: row;
      height: 50%;

      .hello-doctor {
        width: 50%;
        display: flex;
        align-self: center;
        justify-content: center;
        font-weight: bold;
        font-family: "Architects Daughter", cursive;
        font-size: 4.5vh;
        color: whitesmoke;
      }

      .patients-graph {
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
      }
    }

    #lower-panel {
      display: flex;
      flex-direction: row;
      height: 50%;
      background-color: white;

      #upcoming-patients {
        width: 80%;

        .upcoming-patients-text {
          font-size: 2rem;
          padding: 0.5em;
          font-family: "Architects Daughter", cursive;
          font-weight: bolder;
        }

        .patient-card {
          padding: 1em;
          padding-left: 6vw;
          padding-right: 6vw;
        }

        .patient-card:hover {
          cursor: pointer;
        }
      }

      #open-record {
        .check-record {
          font-size: 2rem;
          padding: 0.5em;
          font-family: "Architects Daughter", cursive;
          font-weight: bolder;
          margin-right: 8vw;
        }

        .search {
          position: relative;
          left: 3vw;
          top: 5vh;
          display: flex;
          gap: 2vw;
        }

        .permission-message {
          color: red;
          position: relative;
          left: 3vw;
          top: 7vh;
        }
      }
    }
  }

  #schedule-patients {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: white;

    .schedule-header {
      color: #3c403d;
      font-size: 2.2em;
      margin-top: 2vh;
      padding-left: 3vw;
      font-family: "Architects Daughter", cursive;
      font-weight: bolder;
    }

    .line {
      margin-top: 1vh;
    }

    .appointment-cards {
      padding: 1rem;
    }

    .appointment-cards:hover {
      cursor: pointer;
    }
  }
}

.timer-modal {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  left: 45% !important;
}

#report-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
