#records-main {
  position: relative;
  top: 8vh;

  .records-card {
    display: flex;
    margin-top: 3vh;
    flex-direction: row;
    width: 50vw;
    margin-left: 10%;
  }

  .records-graph {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    gap: 5vw;
    justify-content: center;
    padding-bottom: 5vh;
  }
}
