.records-header {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

.records-card {
    display: flex;
    margin-top: 3vh;
    flex-direction: row;
    margin-left: 5%;
}

.records-graph {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    gap: 5vw;
    justify-content: center;
    padding-bottom: 5vh;
}
