.appbar {
  display: flex;
}

.options {
  display: flex;
  gap: 1.5vw;
  margin: 2vw;
}

.header-options {
  color: #3c403d !important;
  font-size: 1.5rem !important;
  font-weight: 900 !important;
  font-family: "Architects Daughter", cursive !important;
}
