.appbar {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.options {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    margin: 1.5vw;
}

.header-options {
    //important to over-write css applied by material-ui
    color: whitesmoke !important;
    font-weight: bold !important;
    font-size: large !important;
}

.header {
    font-weight: 900;
    font-size: xx-large;
    color: whitesmoke;
    margin: 1.5vw;
}
