#track-appointment {
  display: flex;
  background-color: whitesmoke;
  height: 20%;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vh;

  .track {
    display: flex;
    gap: 2vw;
  }
}
