#dashboard-main {
  display: flex;
  flex-direction: row;
  background-color: #a3bcb6;
  width: 100%;
  height: 100vh;

  #dashboard-sidepane-left {
    display: flex;
    flex-direction: column;
    width: 17%;
    border-radius: 4vh;
    height: 96%;
    margin: 2vh;
    background-color: #ffffff;

    .dashboard-header {
      position: relative;
      left: 2vh;
      color: #3c403d;
      font-size: 2.2rem;
      align-self: flex-start;
      font-weight: 900;
      font-family: "Architects Daughter", cursive;
      top: 3vh;
    }

    .dashboard-options {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 10vh;
      gap: 2vh;
      cursor: pointer;
      left: 1.8vw;
    }

    .dashboard-logout {
      position: relative;
      left: 1.8vw;
      top: 50vh;
    }

    .dashboard-buttons {
      font-weight: 800 !important;
      font-size: 1.2rem !important;
      font-family: "Architects Daughter", cursive !important;
      color: #3c403d !important;
      position: relative;
      // bottom: 0.8vh;
      left: 0.5vw;
    }
  }

  #dashboard-mainportal {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 63%;

    .dashboard-records {
      margin-right: 40%;
    }

    .dashboard-user {
      display: flex;
      flex-direction: row;
      height: 50%;
    }

    #dashboard-user-profile {
      height: 95%;
      border-radius: 3vh;
      margin: 2vh;
      width: 30%;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;

      .MuiAvatar-root {
        height: 120px;
        width: 120px;
      }

      .dashboard-avatar {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-self: center;
        position: relative;
        top: 4vh;
      }

      .dashboard-name {
        align-self: center;
        position: relative;
        color: #39603d;
        font-family: "Architects Daughter", cursive;
        bottom: 4vh;
        font-weight: 200;
        font-size: 2.2rem;
      }

      .profile-data {
        font-family: "Architects Daughter", cursive;
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        align-self: center;
        position: relative;
        bottom: 2vh;
      }

      .data-head {
        font-weight: 200;
        color: #3c403d;
      }

      .data-ans {
        color: #39603d;
      }
    }
  }

  #dashboard-sidepane-right {
    background-color: #ffffff;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 3vh;
    width: 16.5%;
  }
}

.appointment-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

#history {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 55%;
  height: 50%;

  .history-text {
    font-size: 2rem;
    padding: 0.5em;
    font-family: "Architects Daughter", cursive;
    font-weight: bolder;
    margin-bottom: 3vh;
  }

  .history-data {
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
}

#report-display {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  margin-left: 4vw;

  .report-position {
    position: relative;
    bottom: 0.8vh;
  }
}